*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
Laboratorio_3.X/nbproject/private/private.xml
Laboratorio_2.X/nbproject/private/private.xml
Laboratorio_2.X/Laboratorio2.asm
Laboratorio_1.X/nbproject/private/SuppressibleMessageMemo.properties
Laboratorio_1.X/nbproject/private/private.xml
Laboratorio2.X/nbproject/private/private.xml
Laboratorio_1.X/nbproject/private/private.xml
Laboratorio_2.X/Laboratorio2.asm
Laboratorio_2.X/nbproject/private/private.xml
